<%= form_with(model: @post, local: true, url: choose_new_or_edit ) do |form| %>
  <% if @post.errors.any? %>
    <p>一文字以上140文字以内にしてください</p>
  <% end %>
  <div class="post_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to "つぶやき一覧画面にもどる", posts_path %>
<footer>
  <p>つぶやき課題</p>
</footer>